---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
		.title {
			font-family: 'Garamond';
		}
		.tagline {
			display: block;
			font-style: italic;
		}
		</style>
		<title>Win Tomorrow</title>
	</head>
	<body>
		<h1 class="title">Win Tomorrow</h1>
		<span class="tagline">
			See the pulse of your Community.
		</span>
		<span class="tagline">
			Speak to the Heart of your Community.
		</span>
	</body>
</html>
