---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Win Tomorrow</title>
	</head>
	<body>
		<h1>Win Tomorrow</h1>
		<p>
			See the pulse of your Community
			Speak to the Heart of your Community.
		</p>
	</body>
</html>
